<div class="card card-body mb-2 form-card">
  <form #searchForm='ngForm' (ngSubmit)=search(searchForm)>
    <div class="form-group form-search">
      <label for="searchName">Search Git User</label> <br>
      <i class="fa fa-search"></i>
      <input type="text" [ngClass]="{'is-invalid':searchName.errors && searchName.touched}" #searchName='ngModel'
        name="searchName" [(ngModel)]='userQueryString' required class="form-control mb-2"
        placeholder="Type User name">
      <div class="invalid-feedback" [hidden]="!searchName.errors?.required"> <br>
        User Name Required
      </div>
    </div>
  </form>
</div>
